<h1>Reviews for <%= link_to @movie.title, movie_path(@movie) %></h1>
<hr>
<div class="reviews">
<% @reviews.each do |review| %>
  <p>
    <strong>Reviewer:</strong>
    <%= review.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= review.comment %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.stars %>
  </p>
    <hr>

<% end %>
</div>

